<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ComputerComponentsStore</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div layout:fragment="content">
<div class="container">
    <h1 class="display-5">Component Overview</h1>
    <form class="search-form" method="get" action="/" th:object="${filterDto}">
        <label for="search">Search</label>
        <input class="form-input search-input navbar-indent" type="search" id="search" th:field="*{query}">
        <label class="navbar-indent" for="select">by</label>
        <select class="form-input search-input navbar-indent" id="select" th:field="*{searchBy}">
            <option value="title" selected="selected">Title</option>
        </select>
        <input class="tile-button more-info-button navbar-indent remove-margin-top" type="submit" value="Search">
    </form>
    <div class="row">
        <div class="col-sm-4" th:each="component : ${componentList}">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 th:text="${component.name}" class="card-title"></h5>
                    <p th:text="${component.description}" class="card-text"></p>
                    <p th:text="${component.price} + ' '+ '₴'" class="card-text"></p>
                    <p th:text="${component.specifications}" class="card-text"></p>
                    <form method="post" th:action="'/order/create-new-order/' + ${userId} + '/' + ${component.getId()}">
                        <a sec:authorize="isAuthenticated()" ><button th:href="'/user/profile'" sec:authorize="isAuthenticated()" type="submit" class="btm btn-primary form-control mb-2">Add To Order</button></a>
                    </form>
                    <form method="post" th:action="'/favourites/favourites-add/' + ${component.getId()} + '/' + ${userId}">
                        <a sec:authorize="isAuthenticated()"><button th:href="index" sec:authorize="isAuthenticated()" type="submit"  class="btm btn-primary form-control mb-2" >Like</button></a>
                    </form>
                    <form method="post" th:action="'component/' + ${component.getId()}">
                        <a sec:authorize="hasRole('ROLE_ADMIN')"><button th:formaction="'user/component/' + ${component.getId()}" sec:authorize="hasRole('ROLE_ADMIN')" type="submit" class="btm btn-primary form-control mb-2">Change</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>