<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>
<body>
<form method="POST" th:object="${registrationForm}" th:action="@{/auth/registration}">
    <div class="mb-md-5 mt-md-4 pb-5">
        <h2 class="fw-bold mb-2 text-uppercase">Create account</h2>

        <div class="form-outline form-white mb-1">
            <label class="form-label" for="login">Login</label>
            <input type="text" th:field="*{login}" id="login"
                   class="form-control form-control-lg"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
        </div>
        <div class="form-outline form-white mb-1">
            <label class="form-label" for="password">Password</label>
            <input type="password" th:field="*{password}" id="password"
                   class="form-control form-control-lg"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <div class="form-outline form-white mb-1">
            <label class="form-label" for="confirmPassword">Email</label>
            <input type="text" th:field="*{email}" id="confirmPassword"
                   class="form-control form-control-lg"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div>
        <button class="btn-outline-dark btn-lg px-5" type="submit">Create</button>
        </div>
    </div>
</form>
</body>
</html>